.radar-chart .gridline {
  stroke: grey;
  stroke-width: 1;
  fill-opacity: 0;
}

.radar-chart .gridline.minor {
  opacity: 0.5;
}

.radar-chart .axis line {
  stroke: grey;
  stroke-width: 1;
}
.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 10px;
}
.radar-chart .axis .legend.top {
  dy:1em;
}
.radar-chart .axis .legend.left {
  text-anchor: start;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: end;
}

.radar-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}

/* style chart content */
.radar-chart .area {
  fill: green;
  stroke: green;
  stroke-width: 2;
  fill-opacity: 0.5;
}

.radar-chart-series.circle {
  stroke: #000000;
  stroke-width: 0.7px;
}

.radar-chart-series-0 {
  fill: #1f77b4;
}

.radar-chart-series-1 {
  fill: #ff7f0e;
}

.radar-chart-series-2 {
  fill: #2ca02c;
}

.radar-chart-series-3 {
  fill: #d62728;
}

.radar-chart-series-4 {
  fill: #9467bd;
}

.radar-chart-series-5 {
  fill: #8c564b;
}

.radar-chart-series-6 {
  fill: #e377c2;
}

.radar-chart-series-7 {
  fill: #7f7f7f;
}

.radar-chart-series-8 {
  fill: #bcbd22;
}

.radar-chart-series-9 {
  fill: #17becf;
}

.radar-chart-series-10 {
  fill: #c49c94;
}

/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 0;
}
